################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/
/obj/Debug/net8.0/Hyper-Radio-API.AssemblyInfo.cs
/obj/Debug/net8.0/Hyper-Radio-API.AssemblyInfoInputs.cache
